<h1><%= @room_name %> (Admin View)</h1>
<button phx-click="determine_winner">Winner</button>

<p>
Participants:
<%= live_component(
    @socket, 
    GiveawayWeb.Component.ParticipantsList, 
    id: :participants_list, participants: @participants, winner: @winner, room_name: @room_name, is_admin: true
  ) 
%>