<ul>
  <%= for participant <- @participants do %>
    <%= if @winner == participant do %>
      <li class="winner"><%= participant %></li>
    <% else %>
      <li><%= participant %></li>
    <% end %>
  <% end %>
</ul>