<div id="<%= @id %>">
  <ul>
    <%= for participant <- @participants do %>
      <%= if @winner == participant do %>
        <li class="winner">
      <% else %>
        <li> 
      <% end %>
      <%= participant %>
      <%= if @is_admin do %>
      <div phx-target="#<%= @id %>" phx-click="delete" phx-value-participant="<%= participant %>" style="color: red" %>
      (Delete)
      </div>
      <% end %>
      </li>
    <% end %>
  </ul>
</div>