<ul>
  <%= for participant <- @participants do %>
    <%= if @winner == participant do %>
      <li class="winner">
    <% else %>
      <li> 
    <% end %>
    <%= participant %>
    <%= if @is_admin do %>
    <div phx-click="delete" phx-value-participant="<%= participant %>" %>
    (Delete)
    </div>
    <% end %>
    </li>
  <% end %>
</ul>